ase==3.25.0
elsapy==0.5.1
fqdn==1.5.1
gradio==5.25.0
importlib-metadata==8.6.1
isoduration==20.11.0
jaraco.collections==5.1.0
jupyter==1.1.1
langgraph==0.2.74
openai==1.63.2
openpyxl==3.1.5
pdfplumber==0.11.5
pip-chill==1.0.3
pipreqs==0.5.0
py3dmol==2.4.2
pymatgen==2025.2.18
pymupdf==1.25.3
pypdf2==3.0.1
pyqtwebengine==5.15.7
pysocks==1.7.1
python-levenshtein==0.27.1
rank-bm25==0.2.2
reportlab==4.3.1
seaborn==0.13.2
selenium==4.29.0
sentence-transformers==3.4.1
streamlit==1.47.0
tiktoken==0.9.0
tinycss2==1.4.0
umap-learn==0.5.7
uri-template==1.3.0
webcolors==24.11.1
xlsxwriter==3.2.2
