beautifulsoup4==4.13.3
elsapy==0.5.1
fitz==0.0.1.dev2
huggingface_hub==0.29.1
langgraph==0.3.18
numpy==2.2.4
openai==1.67.0
pandas==2.2.3
pdfplumber==0.11.5
py3Dmol==2.4.2
py3Dmol==2.4.2
pymatgen==2025.2.18
PyPDF2==3.0.1
PyQt5==5.15.11
PyQt5_sip==12.17.0
rank_bm25==0.2.2
reportlab==4.3.1
Requests==2.32.3
scikit_learn==1.6.1
selenium==4.29.0
sentence_transformers==3.4.1
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
